@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">St. Peregrine Medical Group</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Provider Portal</h2>
        <p>Lorem ipsum dolor sit amet, cu veniam consectetuer vix, mucius adolescens pri id. Nam ei agam ornatus detracto, an sed errem persius. Eu nam omittam praesent signiferumque, vitae reprehendunt duo id. Duo id soleat lucilius. Animal dolorem deserunt at quo.</p>
</div>
    <div class="col-md-4">
        <h2>Medical Records</h2>
        <p>Lorem ipsum dolor sit amet, cu veniam consectetuer vix, mucius adolescens pri id. Nam ei agam ornatus detracto, an sed errem persius. Eu nam omittam praesent signiferumque, vitae reprehendunt duo id. Duo id soleat lucilius. Animal dolorem deserunt at quo.</p></div>
    <div class="col-md-4">
        <h2>Human Resources</h2>
        <p>Lorem ipsum dolor sit amet, cu veniam consectetuer vix, mucius adolescens pri id. Nam ei agam ornatus detracto, an sed errem persius. Eu nam omittam praesent signiferumque, vitae reprehendunt duo id. Duo id soleat lucilius. Animal dolorem deserunt at quo.</p>
    </div>
</div>