<div class="row no-gutters m-3">
    <div class="card col-lg-6 mx-auto">
        <div class="card-header text-center">
            <h5 class="m-0">Sign-Up for a Free Quote!</h5>
        </div>
        <div class="card-body">
            Please fill out the following form to receive a free quote for car insurance.  Please note that all fields are required.
            <br /><br />
            @using (Html.BeginForm("Quote", "Home", FormMethod.Post))
            {
                  <div class="row no-gutters">
                      <div class="form-group mx-auto">
                          <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                      </div>
                      <div class="form-group mx-auto">
                          <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                      </div>
                      <div class="form-group mx-auto">
                          <input name="EmailAddress" type="email" class="form-control" placeholder="E-Mail Address" />
                      </div>
                      <div class="form-group mx-auto">
                          <input name="DateOfBirth" type="number" class="form-control" placeholder="Birthdate: MMDDYYYY" />
                      </div>
                      <div class="form-group mx-auto">
                          <input name="CarYear" type="number" class="form-control" placeholder="Car Year" />
                      </div>
                      <div class="form-group mx-auto">
                          <input name="CarMake" type="text" class="form-control" placeholder="Car Make" />
                      </div>
                      <div class="form-group mx-auto">
                          <input name="CarModel" type="text" class="form-control" placeholder="Car Model" />
                      </div>
                      <div class="form-group mx-auto">
                          <input name="Dui" type="text" class="form-control" placeholder="Have you had a DUI?" />
                      </div>
                      <div class="form-group mx-auto">
                          <input name="MovingViolations" type="number" class="form-control" placeholder="Number of tickets?" />
                      </div>
                      <div class="mb-3">
                          What type of car insurance are you looking for? Full coverage or liability?
                      </div>
                      <div class="form-group mx-auto">
                          <input name="CoverageType" type="text" class="form-control" placeholder="Coverage Type" />
                      </div>
                      <button type="submit" class="btn btn-block btn-primary">Submit</button>
                  </div>
            }
        </div>
    </div>
</div>