@using Insurance.Models

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto">
        <div class="card-header text-center">
            <h5 class="m-0">Apply for a free quote today!</h5>
        </div>
        <div class="card-body">
            We will contact you shortly with your free quote!
        </div>
    </div>
</div>